* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(144,30,172,0.8603816526610644) 35%, rgba(0,212,255,1) 100%);
}

.rick-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rick-and-morty {
    width: 600px;
    height: 200px;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.search {
    width: 50%;
    height: 45px;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 25px;
}

.search-label {
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: greenyellow;
    font-size: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 15px;
    width: 300px;
    height: 500px;
    border: 2px solid lightblue;
    border-radius: 5px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(207,33,165,0.8603816526610644) 35%, rgba(0,212,255,1) 100%);
}

.container-info {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    align-items: flex-start;
    width: 100%;
    margin-left: 10px;
}


.card-header {
    color: white;
    text-transform: uppercase;
    margin: 25px 0px;
    text-align: center;
}

.location {
    color: white;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    margin-left: 10px;
    
}

.origin{
    color: white;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: center;
    font-weight: bold;
}

.gender {
    color: white;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: center;
    font-weight: bold;
}

.specie {
    color: white;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: center;
    font-weight: bold;
}

.status {
    color: white;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: center;
    font-weight: bold;
}


.card-img {
    width: 300px;
    height: 100%;
}

.noexiste {
    display: none;
}

@media (max-width: 500px) {
    .search {
        font-size: 1rem;
        text-align: center;
        width: 90%;
    }
    .rick-and-morty {
        width: 300px;
        height: 100px;
    }
    .cards-container {
        grid-template-columns: repeat(1, 1fr);

    }

    .search-label {
        font-size: 1rem;
    }


}

@media (min-width: 700px) and (max-width: 1000px) {
    .search {
        font-size: 1rem;
        width: 70%;
    }
    .rick-and-morty {
        width: 500px;
        height: 200px;
    }
    .cards-container {
        grid-template-columns: repeat(2, 1fr);
    }
}